---
import HeaderLink from './HeaderLink.astro';
import ThemeToggle from './ThemeToggleButton'
import { HOMEPAGE_URL, SITE_TITLE } from '../consts';

---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
	<div class="mx-auto max-w-3xl">
		<nav class="flex items-center justify-between text-base">
			<div>
				<h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg"><a href="/">{SITE_TITLE}</a></h2>
			</div>
			<div class="items-center gap-6 hidden md:flex">
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
			</div>
			<div class=""></div>
			<ThemeToggle client:load/>
		</nav>
	</div>
</header>


